n8n-workflow/workflow.json
{
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "event": "pagedUpdatedInDatabase",
        "databaseId": {
          "__rl": true,
          "value": "={{$env.NOTION_DATABASE_ID}}",
          "mode": "list",
          "cachedResultName": "Vocabulary Book",
          "cachedResultUrl": ""
        }
      },
      "id": "2799c8b1-0254-450b-b509-1d4bff764ce4",
      "name": "Notion Trigger",
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        288,
        288
      ],
      "credentials": {
        "notionApi": {
          "id": "replace-with-your-credential-id",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {},
      "id": "d2f1ff45-71ff-4896-8345-0df3a77ab792",
      "name": "Prepare Payload",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        512,
        288
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://ollama:11434/api/generate",
        "responseFormat": "string",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "json"
        },
        "bodyParametersJson": "={\n  \"model\": \"phi3:mini\",\n  \"prompt\": \"You are an English lexicography assistant.\\n\\nReturn EXACTLY ONE valid JSON object. Output JSON only.\\n\\nThe JSON must contain ONLY these keys:\\n- pos\\n- cefr\\n- ipa\\n- synonyms\\n- antonyms\\n- example\\n\\nRules:\\n- pos must be ONE of: \\\"V: Intransitive\\\", \\\"V: Transitive\\\", \\\"V: Phrasal\\\", \\\"Noun\\\", \\\"Adjective\\\", \\\"Adverb\\\", \\\"Preposition\\\", \\\"Interjection\\\", \\\"Idiom\\\", \\\"Phrase\\\"\\n- cefr must be ONE of: \\\"B1\\\", \\\"B2\\\", \\\"C1\\\", \\\"C2\\\"\\n- ipa must use IPA symbols with slashes\\n- synonyms must be 1–5 common, educational words (array)\\n- antonyms must be 0–5 words (array, empty if none)\\n- Do not repeat the target word in synonyms or antonyms\\n- example must be ONE natural sentence\\n\\nFormatting rules:\\n- Output ONE JSON object only\\n- No markdown, no explanations, no extra text\\n- If unsure, prefer valid JSON over linguistic perfection\\n\\nExample format:\\n{\\\"pos\\\":\\\"Adjective\\\",\\\"cefr\\\":\\\"B2\\\",\\\"ipa\\\":\\\"/x/\\\",\\\"synonyms\\\":[\\\"a\\\"],\\\"antonyms\\\":[],\\\"example\\\":\\\"...\\\"}\\n\\nWord: {{ $json.English }}\",\n \"stream\": false\n\n}\n"
      },
      "id": "455cb41d-0ee0-4e66-9953-4935bb288b11",
      "name": "Call Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        768,
        288
      ]
    },
    {
      "parameters": {
        "functionCode": "// 1. Get the JSON string from Ollama\nconst raw = $json.data?.response || $json.response || \"\";\n\n// 2. Safety check\nif (typeof raw !== \"string\" || !raw.trim()) {\n  return [{\n    json: {\n      error: \"EMPTY_OR_INVALID_RESPONSE\",\n      raw\n    }\n  }];\n}\n\n// 3. Clean markdown / fences defensively\nconst cleaned = raw\n  .replace(/```json/gi, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\n// 4. Parse JSON\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  return [{\n    json: {\n      error: \"JSON_PARSE_FAILED\",\n      message: e.message,\n      raw: cleaned\n    }\n  }];\n}\n\n// 5. Validate required keys\nconst required = [\"pos\", \"cefr\", \"ipa\", \"synonyms\", \"antonyms\", \"example\"];\nfor (const key of required) {\n  if (!(key in parsed)) {\n    return [{\n      json: {\n        error: \"MISSING_KEY\",\n        missing: key,\n        parsed\n      }\n    }];\n  }\n}\n\n// 6. Normalize POS (LLM-proof)\nconst POS_MAP = {\n  \"v: intransitive\": \"V: Intransitive\",\n  \"v: transitive\": \"V: Transitive\",\n  \"v: phrasal\": \"V: Phrasal\",\n  \"noun\": \"Noun\",\n  \"adjective\": \"Adjective\",\n  \"adverb\": \"Adverb\",\n  \"preposition\": \"Preposition\",\n  \"interjection\": \"Interjection\",\n  \"idiom\": \"Idiom\",\n  \"phrase\": \"Phrase\"\n};\n\nif (typeof parsed.pos === \"string\") {\n  const key = parsed.pos.trim().toLowerCase();\n  if (POS_MAP[key]) {\n    parsed.pos = POS_MAP[key];\n  }\n}\n\n// 7. Normalize CEFR (uppercase guarantee)\nif (typeof parsed.cefr === \"string\") {\n  parsed.cefr = parsed.cefr.toUpperCase();\n}\n\n// 8. Convert arrays → comma-separated strings\nconst toString = (v) =>\n  Array.isArray(v) ? v.join(\", \") : (v ?? \"\");\n\nparsed.synonyms = toString(parsed.synonyms);\nparsed.antonyms = toString(parsed.antonyms);\n\n// 9. Final output ✅\nreturn [{\n  json: parsed\n}];\n"
      },
      "id": "d4746598-4c6b-401c-bad0-67554f21b856",
      "name": "Transform AI JSON",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1008,
        288
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Notion Trigger').item.json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Antonyms|rich_text",
              "textContent": "={{ $json.antonyms }}"
            },
            {
              "key": "Category|multi_select",
              "multiSelectValue": "={{ $json.pos }}"
            },
            {
              "key": "CEFR|select",
              "selectValue": "={{ $json.cefr }}"
            },
            {
              "key": "Examples|rich_text",
              "textContent": "={{ $json.example }}"
            },
            {
              "key": "Synonyms|rich_text",
              "textContent": "={{ $json.synonyms }}"
            },
            {
              "key": "Pronunciation|rich_text",
              "textContent": "={{ $json.ipa }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e0dd0b0a-fc74-4c2b-901a-b9f71c8b442e",
      "name": "Update Notion Page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        1264,
        288
      ],
      "credentials": {
        "notionApi": {
          "id": "replace-with-your-credential-id",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2d5884af-58c8-4910-b2a5-50a7f150ffb4",
              "leftValue": true,
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "50a9f66a-7733-4563-8669-12c269d7c2d0",
              "leftValue": "={{    $json.pos    && $json.cefr    && $json.ipa    && typeof $json.synonyms === 'string' || Array.isArray($json.synonyms)   && $json.example  }}",
              "rightValue": "=true",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c61b3108-0ea3-4015-8abc-c007776ff31f",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        464
      ]
    }
  ],
  "connections": {
    "Notion Trigger": {
      "main": [
        [
          {
            "node": "Prepare Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Payload": {
      "main": [
        [
          {
            "node": "Call Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Ollama": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform AI JSON": {
      "main": [
        [
          {
            "node": "Update Notion Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Transform AI JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1ff0ed6286202e7cbf4460d6b9b0b299035da6ed691cec6b3d6fb5b4a6aa3ad1"
  }
}